@font-face {
  font-family: 'Outfit';
  src:
    url('/assets/fonts/Outfit-VariableFont_wght.ttf')
      format('truetype-variations'),
    url('/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Define the supported range */
  font-style: normal;
  font-display: swap;
}

:root {
  --color-info: #a78bfa;
  --color-warning: hsl(43, 50%, 70%);
  --color-primary: #a78bfa;
  --color-popover-border: #a78bfa;
  --color-background: #1c2534;
  /* Widget background color with alpha */
  --color-widget-background-hsl-values: 220, 60%, 7%;
  --bga: 55%;
  --color-widget-background: hsl(
    var(--color-widget-background-hsl-values),
    var(--bga)
  );
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background-image: url(/assets/images/bg.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-blend-mode: soft-light;
}
/* Blur effect for widget backgrounds */
.widget-content:not(.widget-content-frameless),
.widget-content-frame {
  backdrop-filter: blur(5px);
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.expand-toggle-button {
  background: none;
}

/* CUSTOM RULES FOR MY TASTE */
/* Remove carousel fade effect */
.carousel-container::before,
.carousel-container::after {
  display: none;
}

/* Make DNS widget same height */
.widget-type-dns-stats {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.widget-type-dns-stats .widget-content {
  height: 100%;
  flex: 1;
}
.widget-type-dns-stats .widget-content .dns-stats {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .widget-type-prowlarr-custom .widget-content {
  height: calc(100% - var(--widget-gap));
} */
